.logo{
    width: 300px;
    height:inherit;
    display: flex;
    align-items: center;
}
    
.logo #logo{
    width:160px;
   
}

.search-container{
  padding: 19px;
  border-radius:90px;
  cursor:pointer;
  display:flex;
  justify-content: center;
  align-items: center;
}
.search-container input{
  color:black;
  outline:none;
  border:none;
  line-height:40px;
  width:0px;
  height:45px;
  float:left;
  font-size:0.9em;
  transition:0.7s ease;
  background-color:#F0F8FF;
}

.search-container button{
    display:flex;
  justify-content:center;
  align-items:center;
  text-decoration:none;
  border:none;
  padding: 8px;
  height:44px;
  float:right;
  color:white;
  transition:0.4s ease;
  background-color:#000080;
  font-size:1em;
}



.search-container:hover> input, input:focus{
    width:270px;
    margin:0px 0px;
    border:0.3px solid black;
    padding:12px;
    height:45px;
}
 .search-container:hover>button, button:focus{
    background-color:transparent;
 }


input::placeholder{
    font-size:0.9em;
    color:	#808080;
}


nav{
    height:inherit;
    width:400px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
   
}

#nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin:0;
}
#nav li{
    padding-left:2rem;
    
}

#nav li a{
    color:	#F8F8FF;
}
 
